Python List Comprehensions - Exercise #1

Create the following three lists: products_on_sale, sale_prices, quantities. They should contain the following values respectively:

['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']

[100, 120, 135, 150]

[1000, 1500, 1300]

In [1]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

OLD WAY

In [2]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])

['Chair_Type_1', 100000]
['Chair_Type_1', 150000]
['Chair_Type_1', 130000]
['Chair_Type_1', 120000]
['Chair_Type_1', 180000]
['Chair_Type_1', 156000]
['Chair_Type_1', 135000]
['Chair_Type_1', 202500]
['Chair_Type_1', 175500]
['Chair_Type_1', 150000]
['Chair_Type_1', 225000]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 150000]
['Chair_Type_2', 130000]
['Chair_Type_2', 120000]
['Chair_Type_2', 180000]
['Chair_Type_2', 156000]
['Chair_Type_2', 135000]
['Chair_Type_2', 202500]
['Chair_Type_2', 175500]
['Chair_Type_2', 150000]
['Chair_Type_2', 225000]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 150000]
['Chair_Type_3', 130000]
['Chair_Type_3', 120000]
['Chair_Type_3', 180000]
['Chair_Type_3', 156000]
['Chair_Type_3', 135000]
['Chair_Type_3', 202500]
['Chair_Type_3', 175500]
['Chair_Type_3', 150000]
['Chair_Type_3', 225000]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 150000]
['Chair_Type_4', 130000]
['Chair_Type_4', 120000]
['Chair_Type_4', 180000]
['Chair_Type_4', 156000]
['Chair_Type_4', 135000]
['Chair_Type_4', 202500]
['Chair_Type_4', 175500]
['Chair_Type_4', 150000]
['Chair_Type_4', 225000]
['Chair_Type_4', 195000]

NEW WAY

In [5]:
sales_revenue = [[i, j*k] for i in products_on_sale for j in sale_prices for k in quantities]
sales_revenue

[['Chair_Type_1', 100000],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 130000],
 ['Chair_Type_1', 120000],
 ['Chair_Type_1', 180000],
 ['Chair_Type_1', 156000],
 ['Chair_Type_1', 135000],
 ['Chair_Type_1', 202500],
 ['Chair_Type_1', 175500],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 225000],
 ['Chair_Type_1', 195000],
 ['Chair_Type_2', 100000],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 130000],
 ['Chair_Type_2', 120000],
 ['Chair_Type_2', 180000],
 ['Chair_Type_2', 156000],
 ['Chair_Type_2', 135000],
 ['Chair_Type_2', 202500],
 ['Chair_Type_2', 175500],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 225000],
 ['Chair_Type_2', 195000],
 ['Chair_Type_3', 100000],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 130000],
 ['Chair_Type_3', 120000],
 ['Chair_Type_3', 180000],
 ['Chair_Type_3', 156000],
 ['Chair_Type_3', 135000],
 ['Chair_Type_3', 202500],
 ['Chair_Type_3', 175500],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 225000],
 ['Chair_Type_3', 195000],
 ['Chair_Type_4', 100000],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 130000],
 ['Chair_Type_4', 120000],
 ['Chair_Type_4', 180000],
 ['Chair_Type_4', 156000],
 ['Chair_Type_4', 135000],
 ['Chair_Type_4', 202500],
 ['Chair_Type_4', 175500],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 225000],
 ['Chair_Type_4', 195000]]

Python List Comprehensions - Exercise #3

Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.

Please remember to use the print() function to print out the desired output.

In [10]:
even = [n*10 for n in range(1, 11) if n%2==0]
print(even)

[20, 40, 60, 80, 100]

Python List Comprehensions - Exercise #4

We consider the previous answer as the Pythonic way to obtain the output because it involved the use of a list comprehension.

Can you devise a method to achieve the same output—returning a list with all even numbers between 1 and 10, inclusive, each 

multiplied by 10—using a "non-Pythonic" approach, specifically without employing list comprehensions?

To solve the exercise, start with an empty list named new_list and append the required values to it.

In [12]:
new_even = []
for i in range(1,11):
    if(i%2==0):
        new_even.append(i*10)
new_even

[20, 40, 60, 80, 100]

Python List Comprehensions - Exercise #5

Using list comprehension, return a list that contains the element from range(1, 11) multiplied by 10 if the number is even, and "None" if that number is odd.

Please use num as an iteration variable name in the required list comprehension.

In [15]:
nums = [num*10 if num % 2 == 0 else "None" for num in range(1,11)]
nums

['None', 20, 'None', 40, 'None', 60, 'None', 80, 'None', 100]

LAMBDA FUNCTIONS

Python Anonymous Functions - Exercise #1

Define a function called multiply_by_10 that will return a value ten times bigger than the argument.

Apply multiply_by_10 to the argument of 5. Clearly, you should obtain 50.

Please remember to use the print() function to print out the desired output.

In [19]:
multiply_by_10 = lambda x:x*10
print(multiply_by_10(5))

50

Python Anonymous Functions - Exercise #2

Using the print() function, write a single line of code that creates and executes a lambda function, returning a value ten times its argument. Use 7 as the input.

In [21]:
print((lambda x : x*10)(7))

70

Python Anonymous Functions - Exercise #3

Define a Lambda function named product_xy that returns the product of two parameters, x and y. Execute it with arguments 4 and 20, respectively.

In [25]:
product_xy = lambda x,y : x*y
print(product_xy(4,20))

80